﻿@model XPOS.ViewModel.VariantViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VariantViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Variant", FormMethod.Post, new
    {
        id = "form-delete",
        name = "form-delete"
    }))
    {   @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)

            <div class="form-actions no-color">
                     <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
             </div>
}
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Delete successful!");
                    $(".modal").modal("hide");
                    GetList();
                }

                else {
                    alert("Error! " + result.message);
                }
            }

        });
        return false;
    });
</script>

